<script src="//js.pusher.com/2.2/pusher.min.js"></script>

<div class="backdrop">
  <div class="map"></div>
  <div class="col-md-6 pull-right all-content">

    <div class="searchbar">
      <input type="button" name="some_name"
             placeholder="e.g. Starbucks"
             class="form-control">
    </div>

    <div id="main"></div>
  </div>
</div>

<script>
CURRENT_USER = JSON.parse('<%=current_user.to_json.html_safe%>');
$(WaiterUp.initialize);
</script>
