<script src="//js.pusher.com/2.2/pusher.min.js"></script>

<div class="backdrop">
  <div class="map col-md-6"></div>
  <div id="main" class="col-md-6">
  </div>
</div>

<script>$(WaiterUp.initialize);</script>
