<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h3>Log In</h3>
    <br>
    <form action="<%= session_url %>" method="post">

      <input type="hidden"
             name="authenticity_token"
             value="<%=form_authenticity_token%>" >

      <label for="email">email</label>

      <input class='form-control'
             type="text"
             id="email"
             name="session[email]"
             value="<%=@user.email%>">

      <label for="email">Password</label>

      <input class='form-control'
             type="password"
             id="password"
             name="session[password]">

      <br>

      <button style="width: 100%;"
              name="submit"
              class="btn btn-primary">Login
      </button>

    </form>
  </div>
</div>
