<% if (menus.length === 0) { %>
  <div id="menu-form">
    <a href="javascript:void(0)"
    class="btn btn-primary add-menu">Create Menu</a>
  </div>
<% } else { %>
  <div class="provider-menus"></div>
<% } %>
