<% if (menus.length === 0) { %>
<% } else { %>
  <a href="javascript:void(0)" class="btn btn-primary add-menu">Create Menu</a>
  <div id="menu-form"></div>
  <div class="provider-menus"></div>
<% } %>
