<!-- <div class="searchbar">
  <input type="button" name="some_name" placeholder="e.g. Starbucks" class="form-control">
  <button name="button" class="btn btn-primary">Search</button>

  <label>Search</label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
</div> -->




<form class="search_form" action="index.html" method="post">
  <div class="form-group">
    <input type="text" id="search_input" value="Search" class="form-control">
  </div>

  <button class="btn btn-success">Search</button>
</form>
