<% method = user.persisted? ? "PATCH" : "POST" %>
<% placeholder = user.persisted? ? user.email : "e.g. name@example.com" %>
<% btn_msg = user.persisted? ? "Update #{user.email}" : "Create Account" %>


<%= form_for(user, url: user_url) do |f| %>
  <input  type="hidden" name="_method" value="<%= method %>">

  <div class="form-group">
    <input type="text"
    name="user[email]"
    class="form-control"
    data-toggle="floatLabel" data-value="no-js"
    placeholder="Email">
    <label for="floatingLabels" style="color: #8ac">Email</label>
  </div>

  <div class="form-group">
    <input type="password"
    name="user[password]"
    class="form-control"
    data-toggle="floatLabel" data-value="no-js"
    placeholder="Password">
    <label for="floatingLabels" style="color: #8ac">Password</label>
  </div>

  <br>
  <%= f.submit btn_msg, class: "btn btn-primary", style: "width: 100%" %>
<% end %>
