<div class="searchbar">
  <input type="text" name="some_name" placeholder="e.g. Starbucks" class="form-control">
  <button name="button" class="btn btn-primary">Search</button>
</div>
<br>

<div class='places-index-title'></div>

<ul class='places'>
  <% places.each(function (place) { %>
    <a href="#/places/<%= place.id %>" data-place-id="<%= place.id %>">
      <li>

        <span class='details'>
          <strong><%= place.escape("title") %></strong>
        </span>

        <div class='place-description'>
          <%= place.escape('description') %>
        </div>

      </li>
    </a>
  <% }); %>
</ul>
