<form class="form">

  <div class="form-group">
    <input class="form-control menu-item-form-field menu-item-name"
           data-toggle="floatLabel" data-value="no-js"
           placeholder="Menu Item Name">
    <label for="floatingLabels" style="color: #8ac">Menu Item Name</label>
  </div>

  <div class="form-group">
    <textarea class="form-control menu-item-form-field"
              data-toggle="floatLabel" data-value="no-js"
              placeholder="Description"></textarea>
    <label for="floatingLabels" style="color: #8ac">Description</label>
  </div>

  <div class="form-group">
    <input class="form-control menu-item-form-field menu-item-price"
           data-toggle="floatLabel" data-value="no-js"
           placeholder="Price" type="number">
    <label for="floatingLabels" style="color: #8ac">Price</label>
  </div>

  <a href="javascript:void(0)" class="close close-lg menu-item-form-field">&times;</a>
</form>


<script charset="utf-8">
$(document).ready(function(){
  $('[data-toggle="floatLabel"]').attr('data-value', $(this).val()).on('keyup change', function() {
    $(this).attr('data-value', $(this).val());
  });
});
</script>
