<form class="form">

  <div class="form-group">
    <input class="form-control menu-title-form" placeholder="Menu Title">
    <!-- <div class="checkbox-category">
      <input type="button" class="form-control" value="Add Category">Category
    </div> -->
  </div>

  <button class="btn btn-success create-menu">Next</button>

  <a href="javascript:void(0)" class="close close-lg create-menu">&times;</a>
</form>
