<form class="form">

  <div class="form-group">
    <input class="form-control" placeholder="Menu Title">

    <% var categories = ["Drinks", "Breakfast", "Lunch",
                         "Dinner", "Appetizers", "Dessers"]; %>

    <% _(categories).each(function (category) { %>
      <div class="checkbox-category">
        <input type="checkbox" value="<%= category %>"> <%= category %>
      </div>
    <% }) %>
    <div class="checkbox-category">
      <input type="button" class="form-control" value="Add Category">Category
    </div>
  </div>

  <button class="btn btn-success">Done</button>

  <a href="javascript:void(0)" class="close close-lg">&times;</a>
</form>


<!--
1. checkboxes
  - if checked, show add item button
2. create category button
 -->
